# Wildfires in Brazil

## Data cleaning

Data regarding wildfires, deforestation and precipitation in Brazil was loaded into data frames and cleaned accordingly.

The following data was found:

1. Wildfires data for each state in Brazil per month in the period 1998-2017. Source: PORTAL BRASILEIRO DE DADOS ABERTOS.
2. Wildfires data for Brazil as a whole per month in the period 1998-2017. Source: PORTAL BRASILEIRO DE DADOS ABERTOS.
3. Wildfires data detected through satellite images. Source: Banco de Dados de Quemaidas.
4. xx
5. xx
6. xx
7. Temperature in Brazil in the period 1991-2016. Source: World Bank Data https://climateknowledgeportal.worldbank.org/download-data

In [1]:
# Import the necessary libraries

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import re
import requests
import json

### 1. Wildfires data for each state in Brazil per month in the period 1998-2017.

In [2]:
# Import the data 

fires_year_state = pd.read_csv("../Data/rf_incendiosflorestais_focoscalor_estados_1998-2017.csv")

In [3]:
# Check for missing values

fires_year_state.isnull().sum()

year      0
state     0
month     0
number    0
date      0
dtype: int64

In [4]:
# Convert "number" column to integer

fires_year_state["number"] = fires_year_state.number.astype('int64')

In [5]:
# Replace the column "month" with month id's
# First check the spelling of the months in Portuguese

fires_year_state["month"].unique()

array(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype=object)

In [6]:
# Create a dictionary with the months id's

months = {"Janeiro": 1, 
          "Fevereiro": 2, 
          "Março": 3, 
          "Abril": 4, 
          "Maio": 5, 
          "Junho": 6, 
          "Julho": 7, 
          "Agosto": 8, 
          "Setembro": 9, 
          "Outubro": 10, 
          "Novembro": 11, 
          "Dezembro": 12}

In [7]:
# Replace the column "month" with month id's

fires_year_state = fires_year_state.replace({"month": months})

In [8]:
# Create a new column with country name

fires_year_state["country"] = "Brazil"

In [9]:
fires_year_state

      year      state  month  number      date country
0     1998       Acre      1       0  01-01-98  Brazil
1     1999       Acre      1       0  01-01-99  Brazil
2     2000       Acre      1       0  01-01-00  Brazil
3     2001       Acre      1       0  01-01-01  Brazil
4     2002       Acre      1       0  01-01-02  Brazil
...    ...        ...    ...     ...       ...     ...
6448  2012  Tocantins     12     128  01-01-12  Brazil
6449  2013  Tocantins     12      85  01-01-13  Brazil
6450  2014  Tocantins     12     223  01-01-14  Brazil
6451  2015  Tocantins     12     373  01-01-15  Brazil
6452  2016  Tocantins     12     119  01-01-16  Brazil

[6453 rows x 6 columns]

In [10]:
# Verify the data for each state

pd.Series(fires_year_state["state"]).value_counts()

Roraima                239
Alagoas                239
Amazonas               239
Rio Grande do Norte    239
Sao Paulo              239
Piauí                  239
Rio de Janeiro         239
Goias                  239
Mato Grosso            239
Rondonia               239
Paraiba                239
Ceara                  239
Tocantins              239
Rio Grande do Sul      239
Sergipe                239
Santa Catarina         239
Paraná                 239
Acre                   239
Distrito Federal       239
Pará                   239
Mato Grosso do Sul     239
Amapa                  239
Minas Gerais           239
Espirito Santo         239
Maranhao               239
Pernambuco             239
Bahia                  239
Name: state, dtype: int64

In [11]:
# We can see that Brazil's 27 states are present, and all states have the same entries

In [12]:
fires_year_state

      year      state  month  number      date country
0     1998       Acre      1       0  01-01-98  Brazil
1     1999       Acre      1       0  01-01-99  Brazil
2     2000       Acre      1       0  01-01-00  Brazil
3     2001       Acre      1       0  01-01-01  Brazil
4     2002       Acre      1       0  01-01-02  Brazil
...    ...        ...    ...     ...       ...     ...
6448  2012  Tocantins     12     128  01-01-12  Brazil
6449  2013  Tocantins     12      85  01-01-13  Brazil
6450  2014  Tocantins     12     223  01-01-14  Brazil
6451  2015  Tocantins     12     373  01-01-15  Brazil
6452  2016  Tocantins     12     119  01-01-16  Brazil

[6453 rows x 6 columns]

In [13]:
# Save the data frame to a csv file

fires_year_state.to_csv("../Data/clean_data/fires_year_state.csv", index=False)

### 2. Wildfires data for Brazil as a whole per month in the period 1998-2017.

In [ ]:
# Impor the data

fires_month = pd.read_csv("../Data/rf_incendiosflorestais_focoscalor_brasil_1998-2017.csv")

In [ ]:
# Separate the data into columns
# First split the strings

fires_month = fires_month["Ano;Mês;Número;Período"].str.split(";", expand=True)

In [ ]:
# Create new column names and then drop the previous columns

fires_month["year"] = fires_month[0]
fires_month["month"] = fires_month[1]
fires_month["number"] = fires_month[2]
fires_month["period"] = fires_month[3]

fires_month.drop(columns=[0, 1, 2, 3], inplace=True)

In [ ]:
# Eliminate the rows that do not fit

fires_month = fires_month[~fires_month.year.str.contains("Máximo")]

In [ ]:
fires_month = fires_month[~fires_month.year.str.contains("Média")]

In [ ]:
fires_month = fires_month[~fires_month.year.str.contains("Mínimo")]

In [ ]:
fires_month = fires_month[~fires_month.month.str.contains("Total")]

In [ ]:
# Convert the year column into integer type

fires_month["year"] = fires_month.year.astype('int64')

In [ ]:
# Create a dictionary with the months id's

months = {"Janeiro": 1, 
          "Fevereiro": 2, 
          "Março": 3, 
          "Abril": 4, 
          "Maio": 5, 
          "Junho": 6, 
          "Julho": 7, 
          "Agosto": 8, 
          "Setembro": 9, 
          "Outubro": 10, 
          "Novembro": 11, 
          "Dezembro": 12}

In [ ]:
# Replace the column "month" with month id's

fires_month = fires_month.replace({"month": months})

In [ ]:
# Convert the month column into integer type

fires_month["number"] = fires_month.number.astype('int64')

In [ ]:
# Convert the period column into a date type

fires_month["period"] = fires_month.period.astype('datetime64[ns]')

In [ ]:
fires_month.dtypes

In [ ]:
# Verify the data for each year

pd.Series(fires_month["year"]).value_counts()

In [ ]:
# We can see that there are entries for each year, except december 2017

In [ ]:
# Save the data frame to a csv file

fires_month.to_csv("../Data/clean_data/fires_month.csv", index=False)

### 3. Wildfires data for Brazil's Legal Amazon (BLA) per month in the period 1999-2019.

In [ ]:
# Import the data 

fires_bla = pd.read_csv("../Data/inpe_brazilian_amazon_fires_1999_2019.csv")

In [ ]:
# Check for missing values

fires_bla.isnull().sum()

In [ ]:
# Convert to title the states

fires_bla["state"] = fires_bla["state"].str.title()

In [ ]:
# Verify the data for each state

pd.Series(fires_bla["state"]).value_counts()

In [ ]:
# We can see that only 9 states are present in this data frame. 
# These states belong to Brazil's Legal Amazon (BLA), which is the largest socio-geographic division in Brazil.
# We can also see that the number of entries for each state varies.

In [ ]:
# Save the data frame to a csv file

fires_bla.to_csv("../Data/clean_data/fires_bla.csv", index=False)

### 4. Deforestation data for Brazil's Legal Amazon (BLA) per year in the period 2004-2019.

In [ ]:
# Import the data

url = "http://www.obt.inpe.br/OBT/assuntos/programas/amazonia/prodes"

In [ ]:
html = requests.get(url).content

In [ ]:
soup = BeautifulSoup(html, "html.parser")

In [ ]:
soup

In [ ]:
col_values = [items.text for items in (soup
                                       .find('div', id_='wrapper')
                                       .find('div', id_='main')
                                       .find_all('table')[0]
                                       .find_all('td',{'style':'text-align: left;'}))]

col_keys = [items.text[:-1] for items in (soup
                                       .find('div', id_='wrapper')
                                       .find('div', id_='main')
                                       .find_all('table')[0]
                                       .find_all('td',{'style':'text-align: left;'}))]

names_dict = dict(zip(col_keys, col_values))

### 5. Precipitation data for Brazil's Legal Amazon (BLA) per year in the period 2004-2019.

In [ ]:
# Import the data 

precip = pd.read_csv("../Data/precipitation.csv")

In [ ]:
# Check for missing values

precip.isnull().sum()

In [ ]:
precip.columns

In [ ]:
precip["state"].unique()

In [ ]:
# Create a dictionary with the states id's

states = {"BA": "Bahia", 
          "RR": "Roraima", 
          "SE": "Sergipe", 
          "AL": "Alagoas", 
          "TO": "Tocantins", 
          "GO": "Goias", 
          "PI": "Piauí", 
          "MG": "Minas Gerais", 
          "PR": "Paraná", 
          "MA": "Maranhao", 
          "AP": "Amapa", 
          "RJ": "Rio de Janeiro",
          "AC": "Acre", 
          "AM": "Amazonas", 
          "DF": "Distrito Federal", 
          "PE": "Pernambuco", 
          "CE": "Ceara", 
          "PA": "Pará", 
          "MT": "Mato Grosso", 
          "PB": "Paraiba", 
          "RS": "Rio Grande do Sul", 
          "RN": "Rio Grande do Norte", 
          "SP": "Sao Paulo", 
          "ES": "Espirito Santo", 
          "SC": "Santa Catarina"}

In [ ]:
# Replace the column "state" with state names

precip = precip.replace({"state": states})

In [ ]:
precip["date"] = precip.date.astype('datetime64[ns]')

In [ ]:
precip.dtypes

In [ ]:
# Get the month and year in separate columns

precip['year'] = pd.DatetimeIndex(precip['date']).year
precip['month'] = pd.DatetimeIndex(precip['date']).month

In [ ]:
# Save the data frame to a csv file

precip.to_csv("../Data/clean_data/precipitation_brazil.csv", index=False)

### 6. Severity of climatic phenomena El Nino and La Nina in the period 1999-2019.

In [ ]:
# Import the data 

ninos = pd.read_csv("../Data/el_nino_la_nina_1999_2019.csv")

In [ ]:
# Create a dictionary with the severity level as numeric value

severity_dict = {"Weak": 1, 
                 "Moderate": 2, 
                 "Strong": 3, 
                 "Very Strong": 4}

In [ ]:
# Create a new column with the severity level

ninos["severity_level"] = ninos["severity"].map(severity_dict)

In [ ]:
ninos

In [ ]:
# Save the data frame to a csv file

ninos.to_csv("../Data/clean_data/ninos.csv", index=False)

### 7. Temperature in Brazil per month from 1991 to 2016.

In [ ]:
# Load the data

temp = pd.read_csv("../Data/temperature_1991_2016_BRA.csv")

In [ ]:
temp.head()

In [ ]:
# Check for missing values

temp.isnull().sum()

In [ ]:
# Checking datatypes

temp.dtypes

In [ ]:
temp['month'] = temp[' Statistics'].str.replace(" Average","")
temp

In [ ]:
# Create column month 

temp = temp.rename(columns = {"Temperature - (Celsius)" : "temperature", 
                              " Year" : "year",
                              " Country" : "country"}).drop(columns = [" Statistics", " ISO3"])

In [ ]:
temp

In [ ]:
months = {" Jan": 1, 
          " Feb": 2, 
          " Mar": 3, 
          " Apr": 4, 
          " May": 5, 
          " Jun": 6, 
          " Jul": 7, 
          " Aug": 8, 
          " Sep": 9, 
          " Oct": 10, 
          " Nov": 11, 
          " Dec": 12}

In [ ]:
# Replace the column "month" with month id's

temp = temp.replace({"month": months})

In [ ]:
temp.dtypes

In [ ]:
temp

In [ ]:
# Save the data frame to a csv file

temp.to_csv("../Data/clean_data/temp_clean.csv", index=False)

### 8. CO2 emissions and Brazil forest area